.container {
  padding: 10px;
  margin: 60px auto;
}

.inside {
  display: flex;
  align-items: center;
}

.inside image {
  padding: 20px;
  border-radius: 20px;
}
img{
  border-radius: 15px;
}
.textboxaj {
  text-align: center;
}
.asidebox {
  padding: 30px;
   
}
.asideheading {
  font-size: 70px;
}
.asidetext {
  font-size: 17px;
}

/* card */





/* page 2 css */
