{% extends 'base.html' %}

{% block title %}
About
{% endblock %}



{% block body %}
<div class="container">
<div class="abouttext" style="margin-left:40px;margin-right:40px;margin-top: 25px;">

    <div class="aboutdiv">
        <p class="headabout " style=" font-style: bold;
      font-size: 35px;">RISING THE BARS OF STANDARD IN BRASS

        </p>


        <div class="detailabout" style="font-size: 15px;
      text-align: justify; margin-left: 25px;">
            <p>R D Brass Industries was established in the year 1995 to set precedents in the area of non-ferrous
                metals. The unit is set up at Jamnagar, the city known as "Brass City of India". Today, the
                persistent demand for our products, which has enhanced our enormous manufacturing capacity, confirms
                our corporate vision. We manufacture various types of Copper, Brass and alloy products, which
                includes electrical components, earthing accessories, gas fitting parts, cable glands, sanitary
                fittings, hardware fittings, Copper/Brass Rod, Ingot, Billet, Various Profiles & Sections in
                conformation to different standards like IS, BS, DIN, ASTM, etc.</p>
            <br>
            <p>R D Brass Industries being an ISO 9001:2015 ensured company and in the field of manufacturing
                activities we content us to remain contemporary by systemizing advance technologies, and arranging
                learning opportunities for all workers. By the years of experience and broad vision towards the
                total Quality in every aspect, company has earned its own name in the Brass Industries, worldwide.
                With modern machineries, skilled labor, enough measuring instruments and well qualified management,
                we always serve better quality at best prices. We are dedicated in our efforts to give you total
                satisfaction in terms of quality product and service.</p>
            <br>
            <p>We are into the market since 1995 and venture into manufacturing and trading with a workforce of as
                much as 50 employees, inclusive of high performing Tool Room Operators and learned engineers,
                digesting the minute details of market fluctuations, to bridge the gap between quality products and
                competitive prices, to co-exist in the international market with the tag of customer satisfaction.
                <br>
                <br>
            <p> With years of expertise and experience, R D Brass Industries is proud to be regarded as a
                manufacturing leader. Every decision is inspired by our main mission, which is to provide the
                highest standard of product and services to customers.</p>
            <br>
            <p>In this rapidly changing industry, we’ve
                realized the importance of continually updating our
                approach to stay relevant in the market, and are committed to just that. We invite you to browse
                through our products and contact us with any questions</p>
        </div>
    </div>

</div>
</div>



<!-- card -->



<div class="container">
    <div class="inside">

        <div class="asidebox">
            <div class="textboxaj">
                <p class="asideheading">Our Vision</h1>

                <p class="asidetext">
                    To be a company that best understands and satisfies the need of our customers, to be a valuable
                    company for all our employees and to be a reliable support to our business associates.


                </p>
            </div>
        </div>

        <div class="image">
            <img src="static/photo/3.jpg" alt="..." />
        </div>
    </div>
</div>


<div class="container">
    <div class="inside">
        <div class="image">
            <img src="static/photo/3.jpg" alt="..." />
        </div>
        <div class="asidebox">
            <div class="textboxaj">
                <p class="asideheading">Our Mission</h1>

                <p class="asidetext">
                    We integrate customer specification with our expertise of manufacturing to deliver product with the
                    desired result in a cost effective manner. We are dedicated to be a world leader in Brass Fittings
                    and Customized Products by providing best service, consistent quality and on-time delivery at a
                    competitive price.


                </p>
            </div>
        </div>
    </div>
</div>


<!-- team -->

<div class="ourteam" style="text-align: center;margin: 60px;">
    <h3 style="font-size: 35px;margin-bottom: -100px;">
        Our Management Team
    </h3>
</div>



<div class="container">


    <div class="row row-cols-1 row-cols-md-3 g-4" style="margin:60px;text-align: center;">
        <div class="col">
            <div class="card">
                <img src="static/photo/5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mr. Dalsukh J. Sabhaya</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="static/photo/5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mr. Bhavesh P. Sabahaya</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="static/photo/5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mr. Avadh D. Sabhaya</h5>
                    <p class="card-text">

                    </p>
                </div>
            </div>
        </div>
    </div>
   

</div>

<div class="container">
<div class="ourteam" style="text-align: center;margin: 60px;">
    <h3 style="font-size: 35px;">
        Our Team
    </h3>
</div>

<img src="static/photo/3.jpg" alt="">

</div>
</div>
{% endblock body %}