{% extends 'base.html' %}

{% block title %}
Capabilities
{% endblock %}



{% block body %}



<div class="container"style="margin-top: 30px;">
  
<div class="container" style="margin-top: 10px;"><p class="headabout " style=" font-style: bold;
      font-size: 35px;">Capabilities
        </p>
  <div class="inside">
    <div class="asidebox">
      
      <div class="textboxaj">
        <p class="asideheading">
          <h1></h1>

        <p class="asidetext" style="text-align: justify;">
          We emphatically accept that our work is the introduction of our abilities. Henceforth we don't settle on the
          nature of work conveyed. The first of our innovation utilized in a business is that mechanization applied to a
          productive activity will amplify the effectiveness. This empowers us to serve more clients in limited
          abilities to focus.
        </p>
        <p class="asidetext" style="text-align: justify;">
          The second that automation applied to a wasteful activity will amplify and improve the failure, which is done
          by our knowledge workers. Incredible organizations are based on extraordinary items, henceforth the work
          capability of our organization ensures that our items represent us.
        </p>
      </div>
    </div>

    <div class="image">
      <img src="static/photo/capa/1.jpg" class="shadow-lg p-0 mb-5 bg-white rounded"alt="..." />
    </div>
  </div>


</div>
<div class="container">
  <div class="inside">
    <div class="image">
      <img src="static/photo/capa/2.jpg"class="shadow-lg p-0 mb-5 bg-white rounded" alt="..." />
    </div>
    <div class="asidebox">
      <div class="textboxaj">
        <p class="asideheading">
          </h1>

        <p class="asidetext" style="text-align: justify;">
          A brand is only an insight, and discernment will coordinate reality after some time. Now and again it will be
          ahead, on different occasions, it will be behind. Yet, the brand is essentially an aggregate impression some
          have about an item. In any case, our impression is appeared in our item quality by battle full work. The
          benefit isn't the authentic motivation behind the business. The real reason for business is to give an item or
          administration that individuals require and do it so well that it's beneficial.


        </p>
        <p class="asidetext" style="text-align: justify;">
          Our long stretches of committed proficient assistance have assisted us with growing our abilities to more
          noteworthy tallness. We are presently trading our items to customers remaining abroad. We are additionally
          bringing in items, crude materials from unfamiliar nations to upgrade our assembling abilities.



        </p>
      </div>
    </div>
  </div>

</div>


<div class="container">

  <div class="inside">

    <div class="asidebox">
      <div class="textboxaj">
        <p class="asideheading">

          </h1>

        <p class="asidetext" style="text-align: justify;">
          Processing Raw Materials: Different grades of Brass, Such as Lead-Free Cutting Brass, Copper aluminum
          Bronze, etc. other ferrous and non-ferrous metal alloys


        </p>

        <p class="asidetext" style="text-align: justify;">
          Machining Facility: Drilling & Turning & Tapping Machines, Precise Machining and Turning automatic and
          semi-automatics, Forgings Press, Hydraulic press machines, CNC, VMC machining (multi-tools working machines)
          Etc. many types of manually, semi-fully automatically operated specialized and advanced machines



        </p>

        <p class="asidetext" style="text-align: justify;">
          Major Types of Components: Drilling & Turning & Tapping Machines, Electrical components, switchgear/control
          panels/transformers components, Gas/Air threaded or press fittings parts, automobile parts, fire safety
          components, defense precise parts, Inserts, Terminals, Stampings, Forgings, valves, Precision Turned
          Components, Micro Turned Components, Plastic molding Inserts, And many other customized components as per
          customer requires.
        </p>


      </div>
    </div>

    <div class="image">
      <img src="static/photo/capa/3.jpg" class="shadow-lg p-0 mb-5 bg-white rounded"alt="..." />
    </div>
  </div>

  <div class="container">

    <div class="inside">
      <div class="image">
        <img src="static/photo/capa/4.jpg"class="shadow-lg p-0 mb-5 bg-white rounded" alt="..." />
      </div>

      <div class="asidebox">
        <div class="textboxaj">
          <p class="asideheading">
            </h1>

          <p class="asidetext" style="text-align: justify;">
            Surface & Heat Treatments: Natural, Nickel, Chromium, Tin, and Silver, gold, etc Plattings/coatings.
            Centrifugal
            deburring-polishing machines, Vibro finishing machines & Heat treatment as per customer requires we serve.
          </p>
          <p class="asidetext" style="text-align: justify;">
            Designing for the product drawings: we have our Design team and different types of design software
            facilities
            for innovation and develop a new products.


          </p>

          <p class="asidetext" style="text-align: justify;">
            PACKING & PACKAGING: We provide a wide range of special packing & packaging options for our customers. And
            We
            can do also as per customer requirements


          </p>

          <p class="asidetext" style="text-align: justify;">
            IF REQUIRE LABELING: From label logos to fully printed packaging with barcode stickers and part numbers or
            laser
            marking on a product as per customer requirements.


          </p>

        </div>
      </div>


    </div>





  </div>




  <!-- ss -->


  <div class="ourteam" style="text-align: center;margin: 60px;">
    <h3 style="font-size: 35px;">
      Our Speciality
    </h3>
  </div>


  <div class="container">


    <div class="row row-cols-1 row-cols-md-3 g-4" style="margin:60px;">
      <div class="col">
        <div class="card">
          <img src="static/photo/5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;" >Speed</h5>
            <hr>
            <p class="card-text">
            <ul style="text-align: left;font-size:12px;">
              <li>Lead time reduction</li>
              <li>Delivery performance</li>
              <li>Supply chain responsiveness</li>
              <li>Bottleneck management</li>
            </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="static/photo/5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"style="text-align: center;">Quality & Product Safety</h5>
            <hr>
            <p class="card-text">
            <ul style="text-align: left;font-size:12px;">
              <li>Input cost reduction</li>
              <li>Operational cost reduction</li>
              <li>Asset cost reduction</li>
            </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="static/photo/5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"style="text-align: center;">Cost Price</h5>
            <hr>
            <p class="card-text">
            <ul style="text-align: left;font-size:12px;">
              <li>Control point prioritization</li>
              <li>Quarantine reduction</li>
            </ul>

            </p>
          </div>
        </div>
      </div>

    </div>




  </div>
    {% endblock body %}