{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}



{% block body %}

{% comment %} Slider {% endcomment %}


<div id="carouselExampleCaptions" class="carousel slide container" style="margin-top: 30px;">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="static/photo/slider/1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5></h5>
                <p></p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="static/photo/slider/2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5></h5>
                <p></p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="static/photo/1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<!-- special -->




<div class="container" >
    <div class="inside">
        <div class="asidebox">
            <div class="textboxaj">
                <p class="asideheading">Rising the bars of standard in Brass products</h1>

                <p class="asidetext">

                </p>
            </div>
        </div>
    </div>
    
    <img style="width: 100%;" src="static/photo/slider/3.jpg" alt="">
</div>

{% comment %} aside image {% endcomment %}



<div class="container">
    <div class="inside">

        <div class="asidebox">
            <div class="textboxaj">
                <p class="asideheading">Rising the bars of standard in Brass products</h1>

                <p class="asidetext">
                    R D Brass Industries was established in the year 1995 to set precedents in the area of
                    extrusions of non-ferrous metals. The unit is set up at Jamnagar, the city known as "Brass City
                    of India". Today, the persistent demand for our products, which has enhanced our enormous
                    manufacturing capacity, confirms our corporate vision. We manufacture Precision Metal
                    Components, brass CNC machined components, brass sanitary parts, brass forged components, brass
                    electrical components, brass and carbon steel fasteners, various types of Copper Alloy
                    Extrusions and Brass Extrusions, which includes Copper/Brass Rod, Ingot, Billet, Various
                    Profiles & Sections in conformation to different standards like IS, BS, DIN, ASTM, etc. Our
                    division is accredited with the honor of ISO 9001: 2015 certification
                </p>
            </div>
        </div>

        <div class="image">
            <img src="static/photo/qa/1.jpg" alt="..." />
        </div>
    </div>
</div>


<div class="container">
    <div class="inside">
        <div class="image">
            <img src="static/photo/qa/1.jpg" alt="..." />
        </div>
        <div class="asidebox">
            <div class="textboxaj">
                <p class="asideheading">Heading</h1>

                <p class="asidetext">
                    We are into the market since 1995 and venture into manufacturing and trading with a workforce of
                    as much as 50 employees, inclusive of high performing Tool Room Operators and learned engineers,
                    digesting the minute details of market fluctuations, to bridge the gap between quality products
                    and competitive prices, to co-exist in the international market with the tag of customer
                    satisfaction.

                    ​

                    With years of expertise and experience, R D Brass Industries is proud to be regarded as a
                    manufacturing leader. Every decision is inspired by our main mission, which is to provide the
                    highest standard of product and services to customers.



                    In this rapidly changing industry, we’ve realized the importance of continually updating our
                    approach to stay relevant in the market, and are committed to just that. We invite you to browse
                    through our products and contact us with any questions.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="inside">

        <div class="asidebox">
            <div class="textboxaj">
                <p class="asideheading">Why to Choose R D Brass industries ?

                    </h1>

                <p class="asidetext">
                <ul style="text-align: left; font-size: 12px;">
                    <li>Job-Sheets for every batch maintained for traceability during the entire production.</li>
                    <li>All type of Copper Alloy machining including Lead-Free and DZR Components.</li>
                    <li>Complete in-house Forging and Machining facilities with Assemblies and Testing.</li>
                    <li>ISO 9001:2015 Certified quality service</li>
                    <li>Simple and Effective Transparent pricing structure</li>
                    <li>Competitive Prices and Free & Quick Quote</li>
                    <li>Tamper proof packaging and On Time Delivery</li>
                </ul>
                </p>
            </div>
        </div>

        <div class="image">
            <img src="static/photo/qa/1.jpg" alt="..." />
        </div>
    </div>
</div>


<!-- card -->



<div class="ourteam" style="text-align: center;margin: 60px;">
    <h3 style="font-size: 35px;margin-bottom: -50px;">
        Industries We Surve
    </h3>
</div>


<div class="container">


    <div class="row row-cols-1 row-cols-md-3 g-4" style="margin:60px;">
        <div class="col">
            <div class="card">


                <img src="static/photo/home/4.jpg" class="card-img-top shadow-lg p-0 mb-3 bg-white rounded" alt="...">


                <div class="card-body">
                    <h5 class="card-title" style="font-size: 35px;text-align:center">Aerospace</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="static/photo/home/2.jpg" class="card-img-top shadow-lg p-0 mb-3 bg-white rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 35px;text-align:center">Oil & Gas</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="static/photo/home/3.jpg" class="card-img-top shadow-lg p-0 mb-3 bg-white rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 35px;text-align:center">Power</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content..this is being littel lonf

                    </p>
                </div>
            </div>
        </div>

    </div>




    <div class=" row row-cols-1 row-cols-md-3 g-4" style="justify-content: center;">


        <div class="col">
            <div class="card">
                <img src="static/photo/home/4.jpg" class="card-img-top shadow-lg p-0 mb-3 bg-white rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 35px;text-align:center">Automobile</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="static/photo/home/5.jpg" class="card-img-top shadow-lg p-0 mb-3 bg-white rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 35px;text-align:center">Railway</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>




    </div>
</div>


{% endblock body %}