{% extends 'base.html' %}

{% block title %}
Product
{% endblock %}



{% block body %}
<div class="container">

<div class="abouttext " style="margin-left:40px;margin-right:40px;">

  <div class="aboutdiv">
    <p class="headabout " style=" font-style: bold;
      font-size: 35px;">Brass machined Components</p>

  </div>

</div>


<div class="container" style="margin-top:0px">
  <div class="inside">

    <div class="asidebox">
      <div class="textboxaj">
        <p class="asideheading"></h1>

        <p class="asidetext">
          We are leading manufacturer of Brass Machined Components, CNC Precision Machining, covering axles, tubes,
          flanges, Turned Brass Components and others. We are even engaged in manufacturing diverse kind of machining
          and casting assemblies and devices for different applications by casting, forging, and machining. We are using
          the best quality of brass with the aid of pioneered technology in tandem with predefined industry norms and
          standards. Further the Zinc plating, powder coating and other surface treatment is up to the customer’s
          requirements. To avoid any kind of defect, this part is duly inspected by online Q/c Supervisors on regular
          intervals.
        </p>
      </div>
    </div>

    <div class="image">
      <img src="static/photo/capa/2.jpg" alt="..." />
    </div>
  </div>
</div>


<div class="abouttext" style="margin-left:40px;margin-right:40px;margin-top: 25px;">

  <div class="aboutdiv">
    <p class="headabout " style=" font-style: bold;
      font-size: 25px;">Assortment available for Brass Machined Components

    </p>


    <div class="detailabout" style="font-size: 15px;
      text-align: justify; margin-left: 22px;">

      <ul style="padding-left: 10px;">
        <li> Free Cutting Brass IS 319 ( I ) / BS 249 / CZ121Pb3

        </li>
        <li>Free Cutting Brass IS 319 ( II ) / CZ124

        </li>
        <li> Free Cutting Brass IS 319 ( III ) / BS 249

        </li>
        <li> High Grade Free Cutting Brass

        </li>
        <li> Any Special Brass Material Composition As Per Customers Requirement.

        </li>


      </ul>


    </div>
  </div>

</div>

<div class="abouttext" style="margin-left:40px;margin-right:40px;margin-top: 25px;">

  <div class="aboutdiv">
    <p class="headabout " style=" font-style: bold;
      font-size: 25px;">Assortment available for Brass Machined Components
    </p>


    <div class="detailabout" style="font-size: 15px;
      text-align: justify; margin-left: 22px;">
      <ul style="padding-left: 10px;">
        <li> Natural</li>

        <li>Nickel Plated</li>

        <li>Chrome Plated</li>

        <li>Any other finishing as per customer's requirement
        </li>
      </ul>

    </div>
  </div>

</div>





<div class="abouttext" style="margin-left:40px;margin-right:40px;margin-top: 25px;">

  <div class="aboutdiv">
    <p class="headabout " style=" font-style: bold;
      font-size: 25px;">Why R D Brass Industries for Brass Machined Components ?


    </p>


    <div class="detailabout" style="font-size: 15px;
      text-align: justify; margin-left: 22px;">

      <ul style="padding-left: 10px;">

        <li>Excellent wear resistance </li>
        <li>Temperature resistance </li>
        <li>Corrosion resistance </li>
        <li>Superior Finish </li>
        <li>Long lasting solution </li>

      </ul>


    </div>
  </div>

</div>






<div class="abouttext" style="margin-left:40px;margin-right:40px;margin-top: 25px;">

  <div class="aboutdiv">
    <p class="headabout " style=" font-style: bold;
      font-size: 25px;">Manufacturing Unit :
    </p>


    <div class="detailabout" style="font-size: 15px;
      text-align: justify; margin-left: 22px;">
      <ul style="padding-left: 10px;">

        <li>Jamnagar, Gujarat, India</li>


      </ul>

    </div>
  </div>

</div>





<div class="abouttext" style="margin-left:40px;margin-right:40px;margin-top: 25px;">

  <div class="aboutdiv">
    <p class="headabout " style=" font-style: bold;
      font-size: 25px;">Availability
    </p>


    <div class="detailabout" style="font-size: 15px;
      text-align: justify; margin-left: 22px;">
      <ul style="padding-left: 10px;">

        <li>India as well as foreign countries</li>

      </ul>

    </div>
  </div>

</div>

</div>
{% endblock body %}