{% extends 'base.html' %}

{% block title %}
Quality
{% endblock %}



{% block body %}

<div class="container">
<div class="abouttext" style="text-align: center;margin-left:40px;margin-right:40px;">

  <div class="aboutdiv">
    <p class="headabout " style=" font-style: bold;
      font-size: 35px;">Quality Control</p>


    <div class="detailabout" style="font-size: 15px;
      text-align: justify; margin-left: 25px;">
      <p>Since our establishment, quality has always been a most important aspect of our organization. We are
        continuously engaged in delivering our clients a flawless range of Industrial Metal Products. Our
        state-of-the-art infrastructure facilitates us with an ultramodern testing laboratory.</p>
      <p>This lab is full-fledged with technologically advanced and sophisticated testing equipment and tools. We have
        employed highly qualified and experienced quality controllers who are the base of our organization's quality
        standards. They are conducting a rigorous quality testing on various parameters for ensuring the international
        standards of our range</p>
    </div>
  </div>

</div>

<hr>


<div class="abouttext" style="text-align: center;margin-left:40px;margin-right:40px;margin-top: 25px;">

  <div class="aboutdiv">
    <p class="headabout " style=" font-style: bold;
      font-size: 35px;">Quality Management</p>
    <p>we follow total quality management system rules
    </p>
  </div>

</div>



<!-- aside -->



<div class="container">
  <div class="inside">

      <div class="asidebox">
          <div class="textboxaj">
              

              <p class="asidetext">
                  <ul style="text-align: left;font-size:12px ;">
                    <li>DEFINE – WHAT IS IMPORTANT?</li>
                    <li>MEASURE – HOW ARE WE DOING?</li>
                    <li>ANALYSIS – WHAT IS WRONG?</li>
                    <li>IMPROVE – WHAT NEEDS TO BE DONE?</li>
                    <li>CONTROL – HOW DO WE GUARANTEE PERFORMANCE?</li>
                    <li>INFORMATION INTEGRITY</li>
                    <li>MOTIVATION MEASUREMENT</li>
                    <li>POINT OF USE LOGISTICS</li>
                    <li>CYCLE TIME MANAGEMENT</li>
                    <li>PRODUCTION LINEARITY</li>
                    <li>RESOURCE PLANNING</li>
                    <li>CUSTOMER CONNECTIVITY</li>
                    <li>INCREASE PRODUCTION SPEED, IMPROVE QUALITY AND LOWER COST</li>
                    <li>IMPROVE CUSTOMER PERFORMANCE AND SATISFACTION</li>
                    <li>OPTIMIZE INVENTORY UTILIZATION – TURNOVER</li>
                    <li>REDUCE THE HIGH COST OF SCRAP AND REWORK</li>
                    <li>EXCEED PERSONAL AND COMPANY EXPECTATIONS</li>
                    <li>CREATE A FUN WORKING ENVIRONMENT</li></ul>
              </p>
          </div>
      </div>

      <div class="image">
          <img src="static/photo/qa/1.jpg" class="shadow-lg p-0 mb-5 bg-white rounded" alt="..." />
      </div>
  </div>
</div>


<div class="container">
  <div class="inside">
      <div class="image">
          <img src="static/photo/qa/2.jpg" class="shadow-lg p-0 mb-5 bg-white rounded"alt="..." />
      </div>
      <div class="asidebox">
          <div class="textboxaj">
              <p class="asideheading">Quality Objective</p>

              <p class="asidetext">
                <ul style="text-align: left;font-size:12px;">
                  <li>100% CUSTOMER SATISFACTION SHOULD BE PROVIDED.</li>
                  <li>100% ON TIME DELIVERY SHOULD BE PROVIDED.</li>
                  <li>0% DEFECT PRODUCTS SHOULD BE PRODUCED.</li>
                  <li>0% CUSTOMER COMPLAINTS SHOULD BE ACHIVED.</li>
                  <li>5S SYSTEM SHOULD BE FOLLOWED.</li>
                  <li>LEAN MANUFACTURING SYSTEM SHOULD BE FOLLOWED.</li>
                  <li>TS 16949 SYSTEM SHOULD BE FOLLOWED.</li>
                  <li>SIX SIGMA SYSTEM WILL BE FOLLOWED.</li>
                  <li>CONTINUOUS IMPROVEMENT OF ALL PROCESS AND SYSTEM WILL BE ADOPTED.</li>
                  <li>25% TURNOVER SHOULD BE INCREASED PER ANNUM.</li>
                  <li>25% PRODUCTION CAPACITY SHOULD BE INCREASED PER ANNUM.</li>
                </ul>
              </p>
          </div>
      </div>
  </div>
</div>


<div class="container">
  <div class="inside">

      <div class="asidebox">
          <div class="textboxaj">
              <p class="asideheading"> </p>

              <p class="asidetext">
                 <ul style="text-align: left;font-size:12px ;">
                  <li>WE FOCUS ON OUR CUSTOMERS, WE UNDERSTAND THEIR NEEDS, WE MEET THEIR REQUIREMENTS AND EXPECTATIONS.</li>
                  <li>WE ALREADY PROVIDED A GOOD LEADERSHIP TO OUR ORGANIZATION, OUR LEADER TAKES NECESSARY ACTION TO MAKE UNITY OF OUR ORGANIZATION. HE ALSO CREATED AN ENVIRONMENT THE ENCOURAGES OUR MANPOWER TO ACHIEVE OUR OBJECTIVES.</li>
                  <li>WE INVOLVE OUR ALL MANPOWER. WE INVOLVE OUR ALL MANPOWER AT ALL LEVELS. WE HELP OUR MANPOWER TO DEVELOP AND USE THEIR ABILITIES.</li>
                  <li>WE USE A PROCESS APPROACH, SO OUR ORGANIZATION IS MORE EFFICIENT AND EFFECTIVE.</li>
                  <li>WE USE A SYSTEM APPROACH, SO OUR ORGANIZATION IS MORE EFFICIENT AND EFFECTIVE.</li>
                  <li>WE ENCOURAGE CONTINUAL IMPROVEMENT, WE MAKE A PERMANENT COMMITMENT TO CONTINUALLY IMPROVE OUR OVERALL PERFORMANCE.</li>
                  <li>WE GET FACT BEFORE WE DECIDE. WE BASE DECISION ON THE ANALYSIS OF FACTUAL INFORMATION AND DATA.</li>
                  <li>WE WORK WITH OUR SUPPLIER AS A BUSINESS PARTNER, BECAUSE WE DEPEND ON OUR SUPPLIER TO HELP US CREATE VALUE. SO WE MAINTAIN A MUTUALLY BENEFICIAL RELATIONSHIP WITH OUR SUPPLIERS.</li>

                 </ul>
              </p>
          </div>
      </div>

      <div class="image">
          <img src="static/photo/qa/3.jpg" class="shadow-lg p-0 mb-5 bg-white rounded" alt="..." />
      </div>
  </div>
</div>

<!-- card -->




<div class="row row-cols-1 row-cols-md-3 g-4" style="margin:60px;">
  <div class="col">
    <div class="card">
      <img src="static/photo/5.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
          additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="static/photo/5.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
          additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="static/photo/5.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content..this is being littel lonf

        </p>
      </div>
    </div>
  </div>

</div>

</div>
{% endblock body %}